<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Snow Login form Responsive Widget Template : W3Layouts</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	
</head>

<body>
	<!-- login form -->
	<section class="w3l-login">
		<div >
			<div class="wrapper">
			
			
				<div class="form-section">
					<h3>Login</h3>
					<h6>To continue with Us</h6>
					<form [formGroup]="loginForm" method="post" class="signin-form" (ngSubmit)="loginUser()" >
                        
						<div class="form-input">
                            <input type="email" name="email" placeholder="Email" formControlName="email">
                            <small
                            *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
                            class="text-danger">email is required</small>
						</div>
						<div class="form-input">
							<input type="password" name="password" placeholder="Password" formControlName="password" >
                            <small
                            *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
                            class="text-danger">password is required</small>
                        </div>
						
						<button type="submit" class="btn btn-primary theme-button mt-4" [disabled]="loginForm.invalid">Sign In</button>
					
					</form>
					<p class="signup">Don’t have account yet? <a routerLink="/register" class="signuplink">Sign Up</a></p>
				</div>
			</div>
		</div>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>

		<!-- copyright -->
		
		<!-- //copyright -->
	</section>

	<!-- /login form -->
</body>

</html>
